.ino.cpp
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio/
.vscode/
src/config.h
.vscode/*
src/mySetup.h
src/mySetup.cpp
src/myHal.cpp
src/myAutomation.h
src/myFilter.cpp
src/myAutomation.h
src/myFilter.cpp
src/myLayout.h

VStudio/x64/
VStudio/*.sdf
VStudio/stdafx.pch
VStudio/*.suo
VisualLibrary
VStudio/*.opendb
VStudio/.vs
*.suo
*.db

*.log

\.vs/

*.filters

*.user

desktop\.ini
